.jumbotron{
background: rgb(250, 235, 255);
color: black;

}

footer {
padding: 10px 10px 0 10px;
background-color: rgb(56, 56, 54);
margin-button: 0px;

}

.text-grey{
    color: rgb(187, 187, 187);
}


   
  .center { text-align: center;}
  

  .btn-final{
      background-color:  rgb(250, 235, 255);
      color:Black;
      font-weight: bold;
  }
  
  .margen-producto{
      flex: 1 200px;
      
      margin-top: 10px;
     

  }

  .btn-final{
width: 100%;


  }

  .center { text-align: center;}

  .jumbotron{
      margin-top: 50px;
  }

  .foot-icon{
    margin-right: 10px;
    margin-left: 10px;
  }

  .oi-cart{
    
    margin-left: 10px;

  }

  .top{
    padding-top: 10px;
}
 
 .tab-content{
     padding-top: 10px;
 }

 .oferta{
    background-color:  rgb(235, 231, 29);
    color:Black;
    font-weight: bold;
    border: rgb(235, 231, 29);
}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}

.cardi{
  width: 100%; 
  height: 50%;
}