@pinkback: rgb(225033, 235, 255);
@rojo2: rgb(214, 25, 25);
@verde2: rgb(9, 255, 21);
@amarillo2: rgb(225, 228, 66);


.margenes(@top: 0px, @botton: 0px){
  margin-top: @top;
  margin-bottom: @botton;
}

.jumbotron{
    background: @pinkback;
    color: black;
    .margenes(50px, 0px);
    }
    
    footer {
    padding: 10px 10px 0 10px;
    background-color: rgb(56, 56, 54);
    }
    
    .text-grey{
        color: rgb(187, 187, 187);
    }
       
       
      .center { text-align: center;}
      
    
      .btn-final{
          background-color:  @pinkback;
          color:Black;
          font-weight: bold;
      }
      
      .margen-producto{
          flex: 1 200px;
          
          margin-top: 10px;
         
    
      }
    
      .btn-final{
    width: 100%;
    
    
      }
    
      .center { text-align: center;}
    
         
      .foot-icon{
        margin-right: 10px;
        margin-left: 10px;
      }
    
      .oi-cart{
        
        margin-left: 10px;
    
      }
    
      .top{
        padding-top: 10px;
    }
     
     .tab-content{
         padding-top: 10px;
     }
    
     .oferta{
        background-color:  rgb(235, 231, 29);
        color:Black;
        font-weight: bold;
        border: rgb(235, 231, 29);
    }
    
    .carousel-control-next,
    .carousel-control-prev {
        filter: invert(100%);
    }