.jumbotron {
  background: #ffebff;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px;
}
footer {
  padding: 10px 10px 0 10px;
  background-color: #383836;
}
.text-grey {
  color: #bbbbbb;
}
.center {
  text-align: center;
}
.btn-final {
  background-color: #ffebff;
  color: Black;
  font-weight: bold;
}
.margen-producto {
  flex: 1 200px;
  margin-top: 10px;
}
.btn-final {
  width: 100%;
}
.center {
  text-align: center;
}
.foot-icon {
  margin-right: 10px;
  margin-left: 10px;
}
.oi-cart {
  margin-left: 10px;
}
.top {
  padding-top: 10px;
}
.tab-content {
  padding-top: 10px;
}
.oferta {
  background-color: #ebe71d;
  color: Black;
  font-weight: bold;
  border: #ebe71d;
}
.carousel-control-next,
.carousel-control-prev {
  filter: invert(100%);
}
